@import url(//db.onlinewebfonts.com/c/031da03967812d134ed68febd3ba78a9?family=GT+America);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'GT America Standard', sans-serif;
    font-family: gt amera;
}

nav {
    width: 100vw;
    height: 6rem;
    background-color: #000000;
    color: aliceblue;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;

    font-size: 1.2rem;
}

.nav1,
.nav2 {
    display: flex;
    align-items: center;
}

.nav1 p {
    margin: 0 .8rem;
    font-size: 1.5rem;
}

.nav2{
    /* position: fixed;
    width: 100%; */
    /* background-color: #4C5FD5; */
    /* margin: 0; */
}


.abstract {
    display: flex;
    align-items: center;
}

.abstract .image {
    margin-top: .5rem;
}

.request {
    width: 10rem;
    height: 2.5rem;
    font-size: 1.01rem;
    font-weight: 200;
    color: rgb(233, 232, 232);
    background-color: transparent;
    border: 1px solid;
    border-color: rgb(158, 158, 158);
    border-radius: .3rem;
    margin: 0 .4rem;
}

.sign-in {
    width: 6rem;
    height: 2.5rem;
    font-size: 1.01rem;
    font-weight: 200;
    border-radius: .3rem;
    background-color: #4C5FD5;
    color: white;
    border: #4C5FD5;
}

.nav3{
    display: none;
}
.ham-icon,.cross {
    display: none;
    background-color: transparent;
    border: none;
    margin-right: .3rem;
}

.search {
    width: 100%;
    height: 20rem;
    background-color: #dadbf1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search label {
    font-size: 4.5rem;
}

.search input {
    width: 50vw;
    height: 4rem;
    font-size: 1.2rem;
    border: 1px solid black;
    padding: 0 1rem;
    margin-top: 1.5rem;
    border-radius: .3rem;
}

.search input::placeholder {
    color: #000000;
    font-weight: 300;
    font-size: 1rem;
}

.box-icon {
    position: relative;
    right: 2rem;
    top: .5rem;
}

.main-content {
    width: 100%;
    height: 80rem;
    /* background-color: red; */
    display: flex;
    margin-bottom: -10rem;
}

.main-content .main-1,
.main-content .main-2 {
    width: 50%;
    height: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.main-content .main-1 {
    align-items: flex-end;
}


.main-content .main-2 {
    /* background: yellow; */
}

.content {
    max-width: 35rem;
    min-height: 20em;
    display: flex;
    /* background-color: aqua; */
}

.icon {
    min-width: 8rem;
    max-height: 7rem;
    /* background-color: red; */
    text-align: center;
    margin-top: 1rem;
}

.icon img {
    width: 5rem;
}

.heading,
.info,
.learn {
    margin: 1.2rem .5rem;
}

.info p {
    font-size: 1.5rem;
}

footer {
    width: 100%;
    height: 20rem;
    background-color: #000000;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
}

li {
    list-style: none;
    cursor: pointer;
    padding: .2rem;
}

.list {
    width: 15rem;
    text-align: center;
}

.headingOfList {
    font-size: 1.7rem;
    font-family: sans-serif;
    margin-bottom: 1rem;
    cursor: pointer;
}



@media screen and (max-width: 800px) {
    nav {
        padding: 0 0;
        z-index: 2;
        height: 4rem;
    }
    .nav1{
        margin-left: 1rem;
    }
    .nav3{
        display: block;
    }
    .nav2{
        position: fixed;
        width: 100%;
        height: 4rem;
        overflow: hidden;
        background-color: rgb(0, 0, 0);
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(-8rem);
        transition: 300ms;
    }

    .nav3 .ham-icon {
        display: block;
        margin-right: 1rem;
    }

    .search label {
        font-size: 2.3rem;
    }

    .search input {
        width: 90vw;
        margin-right: -1.3rem;
    }

    .box-icon {
        right: 1.5rem;
    }

    .main-content {
        flex-direction: column;
        margin-top: 5rem;
        height: 100rem;
        margin-bottom: 0;
    }

    .main-content .main-1,
    .main-content .main-2 {
        width: 100%;
        height: 50%;
        align-items: center;
    }

    .content {
        min-height: 15rem;
    }

    .info p {
        font-size: 1.1rem;
    }

    footer {
        height: 25rem;
    }

    .list {
        width: 7.5rem;
    }

    .headingOfList {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 350px) {
    footer {
        height: 35rem;
    }
}